server {
    listen 80;

    server_name ${ServerName} ${ServerAlias};
    root ${SiteRootPath};

    if ($host != ${MainDomain}) {
        return 301 $scheme://${MainDomain}$request_uri;
    }

    include /data/configs/nginx/vhost_apache.public;

    listen 443 ssl;

    if ($scheme = http) {
        return 301 https://$host$request_uri;
    }

    include /data/configs/nginx/nginx_ssl.public;

    ssl_certificate /data/configs/ertificate/${SslSign}.crt;
    ssl_certificate_key /data/configs/ertificate/${SslSign}.key;
}
